{{!< default}}
{{> profile-css}}
<div class="container1">
	<div class="profileimg">
		<div class="user-pic">
			<img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="user-picture" class="circle">
		</div>
		<div class="contact-info">
			<h3>{{user.name}}</h3>
			<p class="flow-text">{{user.phone}}</p>
			<p class="flow-text">{{user.email}}</p>
			<p class="flow-text">{{user.zip}}</p>
		</div>
	</div>

	<div class="organization">
		<h4><strong>Your Organization: </strong><br />Rocket.Build 2019</h4>
	</div>

	<div class="button">
		<button class="btn">Donation</butto>
	</div>
</div>
