{{!< ../default}}
{{> admin-css}}
<nav class="transparent z-depth-0"><a href="#">Sign Out</a></nav>
<h1><span>Care</span>Portal</h1>
<div class="search"><input id="search" placeholder="Search"></div>
<div class="anchors" style="display:flex; justify-content:space-between; margin: 2rem">
	<label>
		<input name="group1" type="radio" />
		<span>Products</span>
	</label>
	<label>
		<input name="group1" type="radio" />
		<span>Services</span>
	</label>
	<label>
		<input name="group1" type="radio" />
		<span>Members</span>
	</label>
</div>
<div class="members">
	<div class="stats">STATISTICS</div>
	<div class="pics" style="margin: 0 auto; justify-content: space-around">
		<div class="10k"><img src="/admin-images/people.jpg"><br><p>10K Members</p></div>
		<div class="org"><img src="/admin-images/org.jpg"><br><p>100 Organizations</p></div>
	</div>
</div>
<div class="row" style="padding: 1rem 0; margin: 1rem 0">
	<a href="#" class="btn">Manage Members</a>
	<a href="#" class="btn">Send Invite</a>
	<a href="#" class="btn">Approve Request</a>
</div>
<div><img src="/admin-images/bottom.png"></div>
